<p>customerhome works!</p>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
          <div class="topnav-right">
            <a href="cartcss.html">Cart</a>
            <a routerLink="/myaccount">My Account</a>
            <a href="#about">About Us</a>
          </div>
    </div>

    <h1>Customer HomePage</h1>

    <table border="3" align="center">
        <tr>
            <th>Fuel Type</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Cart</th>
        </tr>
        <tr>
            <td>Petrol</td>
            <td>80</td>
            <td>
                <input type="text" name="quantity"/>
            </td>
            <td>
                <input type="button" value="Order"/>
            </td>
        </tr>
        <tr>
            <td>Deisel</td>
            <td>80</td>
            <td>
                <input type="text" name="quantity"/>
            </td>
            <td>
                <input type="button" value="Order"/>
            </td>
        </tr>
        <tr>
            <td>LPG</td>
            <td>80</td>
            <td>
                <input type="text" name="quantity"/>
            </td>
            <td>
                <input type="button" value="Order"/>
            </td>
        </tr>
    </table>

<!-- 
<h2>Order Items</h2>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script> -->
   
</body>
</html>