<!DOCTYPE HTML>
<html>
<head>
<title>E-wallet</title>

<link rel="stylesheet" href="wallet.component.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="wallet-container text-center">
<p class="page-title"><i class="fa fa-align-left"></i>My Wallet<i class="fa fa-user"></i></p>
<div class="amount-box text-center">
	<img src="https://th.bing.com/th/id/OIP.Rev9Nm9w_6PAwZtr-WoN4AHaH4?w=192&h=205&c=7&o=5&dpr=1.3&pid=1.7">
	<p>Total Balance</p>
	<p class="amount">{{customer.cust_wal}}</p>
</div>
<div class="btn-group text-center">
	<input type="number" name="amount" [(ngModel)]="amount">
	<button type="button" class="btn btn-outline-light" (click)="addMoney()">Add Money</button>
	</div>
	<div class="txn-history">
		<p><b>History</b></p>
		<p class="txn-list">payment to Fuel Fill<span class="debit-amount">-100</span></p>
		<!--<p class="txn-list">payment to Fuel Fill<span class="debit-amount">-100</span></p>-->
		<p class="txn-list">Credit to Fuel Fill<span class="credit-amount">+100</span></p>
		<p class="txn-list">Transfer to Fuel Fill<span class="credit-amount">+100</span></p>
	</div>
	
</div>
</body>
</html>