<p>cust-screen works!</p>
<html>
  <head>
    
  </head>
  <style>
       </style>
    <body>
      <div class="modal-dialog" style="width:100%;">
        <div class="modal-content" style="width:100%;">
          <div class="modal-header img-wrapper" style="padding-bottom: 341px;" width="100%" height="calc(100vh-30rem)">
            <a class="active" routerLink="/custscreen"><b>Home</b></a>
            <a href="#news"><b>Our Services</b></a>
            <a href="#contact"><b>FAQ's</b></a>
            <div class="topnav-right">
              <div class="dropdown1">
                <a class="dropbtn1"><b>MyAccount </b> 
                  <i class="fa fa-caret-down"></i>
                </a>
                <div class="dropdown-content1">
                  <a routerLink="/custprofile">My profile</a>
                  <a routerLink="/custwallet">My wallet</a>
                  <a routerLink="/custorders">My orders</a>
                  <!-- <a (click)="logout()">Logout</a> -->
                </div>
              </div>
              <a href="#about"><b>About Us</b></a>
            </div>
            <br>
            <br>
            <br>
        <h1 align="center">Welcome to Indian fuel store</h1>
        <br>
        <div class="centerbutton" style="width:100%;">
          <div class="dropdown">
            <button align="center" class="dropbtn">Order now</button>
            <div class="dropdown-content">
              <a routerLink="/vegmenu">Petrol</a>
              <a routerLink="/nonvegmenu">Deisel</a>
              <a routerLink="/southindianmenu">Gas</a>
              <a routerLink="/allitems">All</a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <p align="center"><i>Welcome to Indian fuel store.Opens everyday and our services are 24/7 available.</i></p>
      <p align="center"><i>------We always deliver our services to customer in right time------</i></p>
      <p align="center"><i>Our mission about customer's satisfaction and introducing services that we provide for you ,your friends and family.</i></p>
      </div> 
      <div class="locations" align="center">
        <p align="center" font-size="50%"><b>Where do we serve?</b></p>
        <div class="loc">
        <img src="https://i.pinimg.com/originals/8b/7b/90/8b7b90f13f8d614b40c888cd0f5a89d3.jpg" alt="All over India" width="40%" height="70%">
        </div>
        <p align="center" font-size="50%"><b>Our services are available all over India</b></p>
    </div>
    <footer class="footer-distributed">
        <div class="footer-left">
            <h3>About &nbsp;<span>Indian fuel</span></h3>
    
            <p class="footer-links">
                <a href="#">Home</a>
                |
                <a href="#">Blog</a>
                |
                <a href="#">About</a>
                |
                <a href="#">Contact</a>
            </p>
    
            <p class="footer-company-name">© 2019 Indian fuel Store</p>
        </div>
    
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                  <p><span>410 - KPHB Colony,
                     Bldg. No. C- 1, Sector - 1</span>
                    Chennai, TamilNadu</p>
            </div>
    
            <div>
                <i class="fa fa-phone"></i>
                <p>+91 22-27782183</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@indianfuel.com">support@indianfuel.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the company</span>
               Our mission is about customer's satisfaction and introducing services that we provide for you ,your friends and family.</p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </footer>
    </body>
  </html>
